
header {
    background: #212121;
    position: fixed;
    top: 0;
    left: 0;
    padding: 60px 15px 15px 25px;
    z-index: 1001;
    max-width: 300px;
    width: 100%;
    height: 100%;
    color: #fff;
    -webkit-transform: translate(-300px, 0);
    -moz-transform: translate(-300px, 0);
    transform: translate(-300px, 0);
    
    -webkit-transition: transform 0.3s 0s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: transform 0.3s 0s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s 0s cubic-bezier(0.645, 0.045, 0.355, 1);
}

header.is-slide {
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: transform 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    -moz-transition: transform 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    transition: transform 0.4s cubic-bezier(0.6, -0.28, 0.735, 0.045);
}

nav > ul > li {
    display: block;
    margin-bottom: 15px;
    position: relative;
}

nav > ul > li > a {
    text-decoration: none;
    color: #fff;
    padding: 5px 0;
    font-size: 18px;
}

nav > ul > li:before {
    content:'';
    display: block;
    width: 3px;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #ee6730;
    opacity: 0;
    transform: scale(0);
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -webkit-transition: all 0.4s ease;
    -moz-transition: all 0.4s ease;
    transition: all 0.4s ease;

}

nav > ul > li.active {
    padding-left: 20px;
}

nav > ul > li.active:before {
    transform: scale(1);
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    opacity: 1;
}

nav > ul > li.active a {
    color: #ee6730;
}

nav > ul > li:hover a {
    color: #ee6730;
}

.header-loc {
    font-size: 12px;
}

.propelrr-number {
    padding-bottom: 10px;
}

.propelrr-number a {
    color: #fff;
}

.propelrr-terms a {
    color: #fff;
    text-decoration: underline;
}

.social-media-list {
    padding-top: 30px;
}

.social-media-list ul li {
    display: inline-block;
    width: 40px;
    height: 40px;
    margin-right: 8px;
}

.social-media-list ul li a {
    display: block;
}

.social-media-list ul li img {
    width: 100%;
    height: auto;
    display: block;
}
