<header>
  <div class="header-drawer">
    <div class="header-wrap">
      <nav>
        <ul>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{exact : true }"><a routerLink="/">Home</a></li>
          <li routerLinkActive="active"><a routerLink="/strategy">Our Strategy</a></li>
          <li routerLinkActive="active"><a routerLink="/work">Featured Work</a></li>
          <li routerLinkActive="active"><a routerLink="/services">Product &amp; Services</a></li>
          <li routerLinkActive="active"><a routerLink="/product">Our Product</a></li>
          <li routerLinkActive="active"><a routerLink="/partner">Client Partners</a></li>
          <li routerLinkActive="active"><a routerLink="/blog">Our Blog</a></li>
          <li routerLinkActive="active"><a routerLink="/career">Careers</a></li>
        </ul>
      </nav>
      <div class="header-loc">
        <p>3F DMCI Homes Corporate Center <br>1321 Apolinario St., Bangkal, <br>Makati City 1233, Philippines </p>
        <p class="propelrr-number"><a href="tel:+14156855868">US: +1 415 685 5868</a> | <a href="tel:+6329780883">PH: +632 978 0883</a></p>
        <p class="propelrr-terms"><a href="#">Terms &amp; Privacy Policies</a></p>
      </div>
      <div class="social-media-list">
        <ul>
          <li><a href="#"><img src="../../assets/images/icon-fb.png" alt=""></a></li>
          <li><a href="#"><img src="../../assets/images/icon-twitter.png" alt=""></a></li>
          <li><a href="#"><img src="../../assets/images/icon-feed.png" alt=""></a></li>
          <li><a href="#"><img src="../../assets/images/icon-instagram2.png" alt=""></a></li>
        </ul>
      </div>
      <!--<a (click)="gotoBlog()">Go to Blog</a>-->
    </div>
  </div>
</header>