<!--The content below is only a placeholder and can be replaced.-->
<article class="featured-work">
  <section class="box bx-intro">
      <h2><span>Featured</span>Work</h2>
      <h1>More Customers, Less Cost</h1>
      <p class="subtitle">Simply brilliant thinkers making software brilliantly simple.</p>
  </section>
  <section class="box bx-normal custom-bg-client01 bg-gray">
    <h3><img src="../../assets/images/client-logo.png" border="0" align="left" width="160"><br clear="all"/><br/>The NorthFace Beyond Boundaries</h3>
    <p class="subtitle">Vertures unto the aspect of social media marketing</p>
    <p>Consistent engagement, consumer feedback and insighful key metrics set Northface apart from countless columns of online brand.</p>
    <p>Northface attire has grown in popularity. The rise in the popularity of Northface attire has resulted in wearers of the line becoming
    the targets of robbery. In early 2005, a group of teenagers from Washington D.C. were arrested on charges including the armed robbery
    of specifically. The Northface jackets from students on the street.</p>
    <h2>Staggering Results</h2>
    <p>The Work we did for Northface has certainly made a difference to the day-to-day online nad offline transaction</p>
    <ul>
      <li>Thousands of Marketing Decisions can be made more quickly</li>
      <li>Increase accuracy and minimizes risk of errors and delays</li>
      <li>A $10 billion industry is supported with effective software</li>
      <li>A $10 billion industry is supported with effective software</li>
    </ul>
    <br/>
    <a href="#" class="btn">Read Case Study</a>
  </section>
  <section class="box bx-header">
    <h3>Brand Case Studies</h3>
    <p class="subtitle">Elevate your brand. Strategize with technology. Set business goals. Achieve tangible results with the help
    of real people in the digital world.</p>
  </section>
  <section class="box bx-normal xpand">
    <p class="img"><img src="../../assets/images/sample-02.jpg" border="0" align="left" width="100%" alt="Georgia University Output"></p>
    <h3>George University Agile Training Center</h3>
    <p>Tailored Agile training for a non-software environment gives different departments the skills they need to do more.</p>
    <a href="#" class="btn">Read Case Study</a>
  </section>
  <section class="box bx-normal xpand">
    <p class="img"><img src="../../assets/images/sample-03.jpg" border="0" align="left" width="100%" alt="Ponkan Mobile Upgrades"></p>
    <h3>Ponkan Mobile Retrofit</h3>
    <p>Tailored Agile training for a non-software environment gives different departments the skills they need to do more.</p>
    <a href="#" class="btn">Read Case Study</a>
  </section>
  <section class="box bx-normal xpand">
    <p class="img"><img src="../../assets/images/sample-04.jpg" border="0" align="left" width="100%" alt="Reunion Bank Strategic Components"></p>
    <h3>Reunion Bank Strategy Plan</h3>
    <p>Tailored Agile training for a non-software environment gives different departments the skills they need to do more.</p>
    <a href="#" class="btn">Read Case Study</a>
  </section>
  <section class="box bg-dk-orange bx-call">
    <h3>Are you having the same problem?</h3>
    <p>You should call us, We can help!</p>
    <a href="#" class="btn">Call Now</a>
    <p>or send us a <a href="#" class="shout clr-white"><strong>message here</strong>.</a>
  </section>
  <section class="box bx-normal">
    <form>
      <h3>Contact Us</h3>
      <div>
        <label>
          <input type="text" value="John Wick"/>
          <span class="title">Your Name</span>
          <span class="error-msg">You entered a wrong name format, please remove any appropriate characters.</span>
        </label>
      </div>
      <div>
        <label>
          <input type="password" value="12345678"/>
          <span class="title">Your Password</span>
          <span class="error-msg">Invalid password,  At least 3 special character: ~`!@#$%^&*.</span>
        </label>
      </div>
      <div>
        <label>
          <input type="email" value="john.wick@gmail.com"/>
          <span class="title">Your Email</span>
          <span class="error-msg">You entered an invalid email address, Please reenter it eq. your_email@email_provider.com</span>
        </label>
      </div>
      <div>
        <label>
          <input type="tel" value="0903939392"/>
          <span class="title">Your Contact Number</span>
          <span class="error-msg">this is not a correct contact number format.</span>
        </label>
      </div>
      <div>
        <label>
          <input type="url" value="http://www.johnwick.com"/>
          <span class="title">Your Website</span>
          <span class="error-msg">this is not a website url, kindly correct this one.</span>
        </label>
      </div>
      <div>
        <label>
          <textarea>I took an arrow in the knee</textarea>
          <span class="title">Your Message</span>
          <span class="error-msg">Enter at least 200 words.</span>
        </label>
      </div>
      <input type="submit" value="Submit"/>
    </form>
  </section>
</article>
