<!--The content below is only a placeholder and can be replaced.-->
<article class="our-strategy">
  <section class="box bx-intro">
      <h2><span>Our</span>Strategy</h2>
      <h1>We've Refined Digital To A Framework</h1>
      <p class="subtitle">Our strategy at Propelrr is encompased in this framework. To ensure the success of your brand.
      All layers must be clearly defined. Success of our Customers is built around matching the right product.</p>
  </section>
  <section class="box bx-header bg-gray">
    <h3>Digital Marketing Strategy</h3>
    <p class="subtitle">Marketing travels at vast distaces, high speeds and complicated human routes.</p>
    <p>Elevate your brand. Strategize with technology. Set business goals. Achieve tangible results with the help of real people in the digital world.</p>
  </section>
  <section class="box bx-normal propelrr-stacks">
    <h3>Propelrr<br>Marketing<br>Stacks</h3>
  </section>
  <section class="box bx-normal xpand">
    <ul class="free cards marketing-stacks">
      <li>
        <div class="stacks-channels"></div>
        <h3>Channels</h3>
        <p>Your brand is your business</p>
        <p>No other marketing effort can guarantee perpetuation of yur business presence but your brand.
          Branding gives you an edge to stand out and dominate an already competitive market</p>
        <p>No Brand, No Business</p>
      </li>
      <li>
        <div class="stacks-content"></div>
        <h3>Content</h3>
        <p>Your brand is your business</p>
        <p>No other marketing effort can guarantee perpetuation of yur business presence but your brand.
          Branding gives you an edge to stand out and dominate an already competitive market</p>
        <p>No Brand, No Business</p>
      </li>
      <li>
        <div class="stacks-analytics"></div>
        <h3>Analytics</h3>
        <p>Your brand is your business</p>
        <p>No other marketing effort can guarantee perpetuation of yur business presence but your brand.
          Branding gives you an edge to stand out and dominate an already competitive market</p>
        <p>No Brand, No Business</p>
      </li>
      <li>
        <div class="stacks-infrastructure"></div>
        <h3>Infrastructure</h3>
        <p>Your brand is your business</p>
        <p>No other marketing effort can guarantee perpetuation of yur business presence but your brand.
          Branding gives you an edge to stand out and dominate an already competitive market</p>
        <p>No Brand, No Business</p>
      </li>
      <li>
        <div class="stacks-design"></div>
        <h3>Design Thinking</h3>
        <p>Your brand is your business</p>
        <p>No other marketing effort can guarantee perpetuation of yur business presence but your brand.
          Branding gives you an edge to stand out and dominate an already competitive market</p>
        <p>No Brand, No Business</p>
      </li>
    </ul>
  </section>
  <section class="box bx-normal">
    <h3>Propelr Strategy Flow</h3>
    <p class="img"><img src="../../assets/images/chart.jpg" border="0" align="left" width="100%" alt="Reunion Bank Strategic Components"></p>
    <p>Marketing travels at vast distaces, high speeds and complicated human routes.</p>
    <p>Elevate your brand. Strategize with technology. Set business goals. Achieve tangible results with the help of real people in the digital world.</p>
  </section>
  <section class="box bx-normal breaker image-01">
  </section>
  <section class="box bx-normal bg-dk-orange">
    <h2>There's no way finding your online market share</h2>
    <p>Without a digital marketing strategy, you're likely going nowhere in terms of gaining new customers. THere are also
    no direct plans in strengthening your relationships with your existing ones. Without
    digital marketing strategy, you're not inspired or driven to gather and invest in new resources in reaching for newer
    goals and there's nothing to push you in evaluating your analytics whether you're achievng your goals or not.
    Without a specific digital marketing strategy, you're directionless and it is a bad thing to happen.</p>
    <br/>
    <h2>Competitors will eat you up</h2>
    <p>Recognizing what keywords are worth your focus and money is essential. Managing bids for these profit-driving keywords can be quite a challenge.</p>
    <p>Deploy cost-effective campaigns with targeted long and short tail keywords that lead to quality traffic and higher conversions.</p>
    <br/>
    <h2>Keyword Research &amp; Bid Management</h2>
    <p>Recognizing what keywords are worth your focus and money is essential. Managing bids for these profit-driving keywords can be quite a challenge.</p>
    <p>Deploy cost-effective campaigns with targeted long and short tail keywords that lead to quality traffic and higher conversions.</p>
  </section>
  <section class="box bx-normal">
    <h2>There's no way finding your online market share</h2>
    <p>Without a digital marketing strategy, you're likely going nowhere in terms of gaining new customers. THere are also
    no direct plans in strengthening your relationships with your existing ones. Without
    digital marketing strategy, you're not inspired or driven to gather and invest in new resources in reaching for newer
    goals and there's nothing to push you in evaluating your analytics whether you're achievng your goals or not.
    Without a specific digital marketing strategy, you're directionless and it is a bad thing to happen.</p>
    <br/>
    <h2>Competitors will eat you up</h2>
    <p>Recognizing what keywords are worth your focus and money is essential. Managing bids for these profit-driving keywords can be quite a challenge.</p>
    <p>Deploy cost-effective campaigns with targeted long and short tail keywords that lead to quality traffic and higher conversions.</p>
  </section>
  <section class="box bx-normal xpand">
    <form>
      <h3>Contact Us</h3>
      <div>
        <label>
          <input type="text" value="John Wick"/>
          <span class="title">Your Name</span>
          <span class="error-msg">You entered a wrong name format, please remove any appropriate characters.</span>
        </label>
      </div>
      <div>
        <label>
          <input type="password" value="12345678"/>
          <span class="title">Your Password</span>
          <span class="error-msg">Invalid password,  At least 3 special character: ~`!@#$%^&*.</span>
        </label>
      </div>
      <div>
        <label>
          <input type="email" value="john.wick@gmail.com"/>
          <span class="title">Your Email</span>
          <span class="error-msg">You entered an invalid email address, Please reenter it eq. your_email@email_provider.com</span>
        </label>
      </div>
      <div>
        <label>
          <input type="tel" value="0903939392"/>
          <span class="title">Your Contact Number</span>
          <span class="error-msg">this is not a correct contact number format.</span>
        </label>
      </div>
      <div>
        <label>
          <input type="url" value="http://www.johnwick.com"/>
          <span class="title">Your Website</span>
          <span class="error-msg">this is not a website url, kindly correct this one.</span>
        </label>
      </div>
      <div>
        <label>
          <textarea>I took an arrow in the knee</textarea>
          <span class="title">Your Message</span>
          <span class="error-msg">Enter at least 200 words.</span>
        </label>
      </div>
      <input type="submit" value="Submit"/>
    </form>
  </section>
</article>
