//Backgrounds
@mixin button-base($color: $brand-gray) {
  background-color: $color !important;
  color: rgba(255,255,255, .80);

  h1, h2, h3 {
    color: rgb(255,255,255);
  }

  p.subtitle {
    color: rgba(255,255,255, .85);
  }

  p, li {
    color: rgba(255,255,255, .80);
  }

  button, .btn {
    background-color: rgb(255,255,255);
    color: $color;

    &:hover {
      background: lighten($color, 40%);
    }
  }
}

//marketing stack
$stack-types: (
  channels : $brand-green,
  content  : $brand-dk-orange,
  analytics : $brand-lt-orange,
  Infrastructure  : $brand-gray,
  design  : $brand-blue
) !default;

@mixin divstacks($color) {
  border-color: $color;
}

@each $divtype, $color in $stack-types {
  .stacks-#{$divtype} {
    @include divstacks($color);
  }
}

//product service
$service-types: (
  one : $brand-blue,
  two  : $brand-dk-orange,
  three : $brand-gray
) !default;

@mixin servicedot($dot-color) {
  background-color: darken($dot-color, 15%) !important;
}

@each $servicedot, $dot-color in $service-types {
  .service-#{$servicedot} .owl-dot.active span {
    @include servicedot($dot-color);
  }
}
