.box {
  padding: 25px;
  background-color: $white;
  @include box-shadow(0,1px,2px, rgba(0,0,0,0.1))

  h1, h2, h3 {
    &+h4 {
      margin: -0.5em 0 1em;
    }
  }

  > *:last-child {
    margin-bottom: 20px;
  }

  .lrg-txt {
    font-size: 150%;
  }
  .lt-txt {
    font-weight: 400;
  }

  &.hfull {
    height: 100%;
  }

  h1 {
    margin: 0.7em 0 0.4em;
    &+p {
      margin-top: 5px;
    }
  }

  h2 {
    margin-bottom: 15px;
    span {
        display: block;
        opacity: 0.6;
    }
  }

  h3 {
    margin: 1.25em 0 0.7em;
  }

  h4 {
      font-weight: 300;
  }

  p {
    &+button, &+.btn {
      margin-top: 25px;
    }
    &+h1, &+h2, &+h3 {
      margin-top: 25px;
    }
    &.subtitle {
      @include responsive-font(3vw, 20px, 30px);
      font-weight: 300;
    }

    &.img {
      @extend .overflow-hidden;
    }
  }

  &.bx-intro {
    background: $white url('/assets/images/test.jpg') no-repeat center center;
    background-size: cover;
    button, .btn {
      @include responsive-font(3vw, 36px, 40px);
      padding: 10px 20px;
    }
  }

  &.bx-call {
    text-align: center;
    h3 {
      @include responsive-font(3vw, 28px, 36px);
    }
    p {
      @include responsive-font(3vw, 20px, 24px);
      margin: 10px;
    }
    .btn {
      @include responsive-font(3vw, 25px, 30px);
      margin: 10px 0;
    }
  }

  &.bx-header {
    text-align: center;
    p.subtitle {
      @include responsive-font(3vw, 22px, 32px);
    }
  }
  &.kage-bunshin {
    background-color: rgba(0,0,0,0.1) !important;
    margin: 60px -25px -25px;
  }
  &.bx-normal {
    p.subtitle {
      @include responsive-font(3vw, 26px, 36px);
    }
    button, .btn {
      @include responsive-font(3vw, 20px, 24px);
      padding: 10px 20px;
    }
  }

  &.xpand {
    margin: 10px 0;
  }
  &.breaker {
    padding: 0;
    overflow: hidden;

    video {
      width: auto;
      height: auto;
      min-width: 100%;
      min-height: 100%;
    }
  }
  .cards {
    display: flex;
    flex-wrap: wrap;
    -webkit-flex-wrap: wrap; /* Safari 6.1+ */
    align-content: stretch;
    justify-content: center;

    [class^="stacks"],
    [class*="stacks"] {
      margin-left: 23px;
      width: 85px;
      height: 65px;
      border-width: 1px;
      border-style: solid;
      border-radius: 15px;
      -ms-transform: rotate(-24deg) skewX(35deg); /* IE 9 */
      -webkit-transform: rotate(-24deg) skewX(35deg); /* Safari */
      transform: rotate(-24deg) skewX(35deg); /* Standard syntax */
    }

    > * {
      width: 33.3%;
      order: 1;
      flex-grow: 1;
      padding: 10px 20px;
      margin-bottom: 15px;

      h3 {
        @extend .lrg-txt;
        color: $brand-gray;
      }
    }
  }
}

//dev mode
.iphone {
  #main-wrapper,
  #main-content {
    overflow: hidden;
  }
}

#main-wrapper {
    position: relative;
    //overflow: hidden;
}

#main-content {
    position: relative;
    height: 100vh;
    padding: 55px 15px 15px 15px;
    //overflow: hidden;
    z-index: 100;
    left: 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: transform 0.3s 0s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: transform 0.3s 0s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s 0s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#main-content.is-slide {
    -webkit-transform: translate(300px, 0);
    -moz-transform: translate(300px, 0);
    transform: translate(300px, 0);
    -webkit-transition: transform 0.4s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: transform 0.4s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
