  <p><span class="cat">{{ blog.category }}</span></p>
  <h3>{{ blog.name }}</h3>
  <p class="author">
    <a href="javascript:void(0);" class="author-photo"><img src="./assets/images/author-0{{blog.id}}.jpg" alt="{{ blog.author }}"></a>
    <span class="author-name"><a href="javascript:void(0);">{{ blog.author}}</a></span>
    <span class="blog-date">{{ blog.date }}</span>
  </p>
  <div class="blog-img">
    <a [routerLink]="[id]"><img src="./assets/images/blog-preview-0{{blog.id}}.jpg" alt="{{ blog.name }}"></a>
  </div>
  <div class="blog-detail">
    <p>{{ blog.excerpt }}</p>
  </div>
  <a href="javascript:void(0);" class="btn">Read More</a>
