@font-face {
    font-family: 'raleway';
    src: url('/assets/fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('/assets/fonts/raleway-bold-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 700;

}

@font-face {
    font-family: 'raleway';
    src: url('/assets/fonts/raleway-light-webfont.woff2') format('woff2'),
         url('/assets/fonts/raleway-light-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 300;

}

@font-face {
    font-family: 'raleway';
    src: url('/assets/fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('/assets/fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'GothamBlack';
    src: url('/assets/fonts/GothamBlack.eot');
    src: url('/assets/fonts/GothamBlack.eot') format('embedded-opentype'),
         url('/assets/fonts//GothamBlack.woff2') format('woff2'),
         url('/assets/fonts/GothamBlack.woff') format('woff'),
         url('/assets/fonts/GothamBlack.ttf') format('truetype'),
         url('/assets/fonts/GothamBlack.svg#GothamBlack') format('svg');
	font-weight: 900;
    font-style: normal;
}

//Font-Family
$font-face-primary: 'GothamBlack', sans-serif;
$font-face-secondary: 'raleway', sans-serif;

//Color Pool
$primary-color: #000;
$secondary-color: #efefef;
$brand-blue: #00bddd;
$brand-lt-orange: #faa221;
$brand-dk-orange: #ee6730;
$brand-gray: #585858;
$brand-green: #6aac44;
$white: #fff;
