/* You can add global styles to this file, and also import other style files */

/* You can add global styles to this file, and also import other style files */
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*** Custom CSS ***/


@font-face {
    font-family: 'raleway';
    src: url('../src/assets/fonts/raleway-bold-webfont.woff2') format('woff2'),
         url('../src/assets/fonts/raleway-bold-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 700;

}

@font-face {
    font-family: 'raleway';
    src: url('../src/assets/fonts/raleway-light-webfont.woff2') format('woff2'),
         url('../src/assets/fonts/raleway-light-webfont.woff') format('woff');
    font-style: normal;
    font-weight: 300;

}

@font-face {
    font-family: 'raleway';
    src: url('../src/assets/fonts/raleway-regular-webfont.woff2') format('woff2'),
         url('../src/assets/fonts/raleway-regular-webfont.woff') format('woff');
    font-weight: 400;
    font-style: normal;

}

@font-face {
    font-family: 'museo';
    src: url('../src/assets/fonts/museosans_700-webfont.woff2') format('woff2'),
         url('../src/assets/fonts/museosans_700-webfont.woff') format('woff');
    font-weight: 700;
    font-style: normal;

}

@font-face {
    font-family: 'GothamBlack';
    src: url('../src/assets/fonts/GothamBlack.eot');
    src: url('../src/assets/fonts/GothamBlack.eot') format('embedded-opentype'),
         url('../src/assets/fonts/GothamBlack.woff2') format('woff2'),
         url('../src/assets/fonts/GothamBlack.woff') format('woff'),
         url('../src/assets/fonts/GothamBlack.ttf') format('truetype'),
         url('../src/assets/fonts/GothamBlack.svg#GothamBlack') format('svg');
	font-weight: 900;
    font-style: normal;
}

* {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	
}

body {
    font-family: 'raleway', Arial, Helvetica, sans-serif;
	font-weight: 400;
    background: url('../src/assets/images/propelrr.png') no-repeat center;
    background-size: 300px 443px;
    background-attachment: fixed;
    background-position: 180px -35px;
    line-height: 1.4;
    font-size: 16px;
    color: #333333;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

a {
    text-decoration: none;
    outline: none;
    transition: all 0.4s ease;
    color: #5483eb;
}

#main-wrapper {
    position: relative;
    overflow: hidden;
}

#main-content {
    position: relative;
    height: 100vh;
    padding: 55px 15px 15px 15px;
    overflow: hidden;
    z-index: 100;
    left: 0;
    -webkit-transform: translate(0, 0);
    -moz-transform: translate(0, 0);
    transform: translate(0, 0);
    -webkit-transition: transform 0.3s 0s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: transform 0.3s 0s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.3s 0s cubic-bezier(0.645, 0.045, 0.355, 1);
}

#main-content.is-slide {
    -webkit-transform: translate(300px, 0);
    -moz-transform: translate(300px, 0);
    transform: translate(300px, 0);
    -webkit-transition: transform 0.4s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    -moz-transition: transform 0.4s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
    transition: transform 0.4s 0.1s cubic-bezier(0.645, 0.045, 0.355, 1);
}
