@import "src/_stacks";
.search-form {
  display: none;

  form {
    position: relative;

    label {
      margin-bottom: 10px;
    }

    input {
      background-color: $brand-blue;
      color: $white;
      margin: 0 -0.75em 0 0;
      padding: 15px;
      border: 0;
      height: auto;
      width: 74%;
    }
    .btn {
      border: 0;
      width: 28%;
      font-size: 14px;
      line-height: 1.5;
      padding: 0;
      height: 49px;
      background-color: darken($brand-blue, 10%);
    }
  }
  &.show{
    display: block;
    form {
      margin-bottom: 0;
    }
  }
}
