<div class="swipe-wrapper" >
    <div class="flex-wrap" id="scroller-wrapper">
        <div id="scroller" homeScroll>
            <div class="box-wrap activated box">
                    <h1><span>Drive</span><br/><span>Digital</span><br/><span>Differently</span></h1>
                    <h4>Better strategy for smarter brand</h4>
                    <p>See how this approach changes the way you look at your digital marketing initiatives, this is a spiel on we drive digital differently.</p>
                    <ul class="free">
                        <li><h5>Connect.</h5></li>
                        <li><h5>Converse.</h5></li>
                        <li><h5>Convert.</h5></li>
                    </ul>
                    <a href="#" class="btn">Contact Us</a>
            </div>

            <div class="box-wrap h-our-strategy box bg-blue">
                    <h2><span>Our</span>Strategy</h2>
                    <h3>We’ve Refined Digital To A Framework</h3>
                    <p>Our strategy at Propelrr is encompased in this framework. To ensure the success of your brand, all layers must be clearly defined. Success of our Customers is built around matching the right product digital experience.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
            </div>

            <div class="box-wrap h-featured-work box">
                    <h2><span>Featured</span>Work</h2>
                    <h3>NorthFaces<sup>TM</sup> Beyond Boundaries</h3>
                    <h4>Ventures unto the aspect of social media marketing</h4>
                    <p>Consistent engagement, consumer feedback,and insightful key metrics set TheNorthFace™ apart from countless columns of online brand.</p>
                    <a href="#" class="btn btn-primary">View Case Study</a>
            </div>

            <div class="box-wrap h-services box bg-lt-orange">
                    <h2><span>Product &amp;</span>Services</h2>
                    <h3 class="roi-style">ROI</h3>
                    <p>Our wide range of expertise in the field of digital, all carefully integrated in the framework. Every project starts with astrategy.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
            </div>

            <div class="box-wrap h-product box bg-blue">
                    <h2><span>Our</span>Product</h2>
                    <h3>The Propelrr Platform</h3>
                    <h4>Maximize your brand potential, Let people know it, get people buy it.</h4>
                    <p>Gather data, measure, make decisions. Not the other way around. Generating insights and capitalizing on opportunities is what separates you and puts you ahead of the competition.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
            </div>

            <div class="box-wrap h-client box">
                  <h2><span>Client</span>Partners</h2>
                <h3>Relationship</h3>
                <h4>Maintaining a good relationship is just as important as delivering amazing output.</h4>
                <ul class="h-client-list">
                    <li>
                        <div class="h-client-item">
                            <blockquote>We have been very happy with our conversion rates because of their unparalleled service and support all through out. We are still working with them for all our online marketing endeavors. Excellent service provider!</blockquote>
                            <p><strong>Juan Dela Cruz, NorthFaces<sup>TM</sup></strong></p>
                        </div>
                    </li>
                </ul>
                    <p>Gather data, measure, make decisions. Not the other way around. Generating insights and capitalizing on opportunities is what separates you and puts you ahead of the competition.</p>
                    <a href="#" class="btn btn-primary">Learn More</a>
            </div>

            <div class="box-wrap h-our-blog box">
                <h2><span>Our</span>Blog</h2>
                <div class="h-blog-list">
                    <!--<app-blog-list></app-blog-list>-->
                    <!--<app-career-list></app-career-list>-->
                </div>
            </div>
        </div>
    </div>
</div>
