@import "../../_stacks";

.swipe-wrapper {
	height: calc(100vh - 70px);

    @include breakpoint(tablet2) {
        height: 100vh;
    }
}

.flex-wrap {
	display: flex;
	flex-direction: row;
	height: 100%;
	flex-wrap: nowrap;
	width: calc(100% + 30px);
	position: relative;
	margin-left: -15px;
}

.box-wrap {
	width: 85vw;
	height: 100%;
	position: relative;
	margin-right: 15px;
	float: left;
	@include box-shadow(3px, 4px, 10px, rgba(0,0,0,0.16));
    z-index: 99;

    &.activated {

        z-index: 100;

        @include breakpoint(tablet2) {
            width: 74vw;
            padding: 0;
            box-shadow: 3px 4px 10px rgba(0,0,0,.16);
            z-index: 100;
            margin-right: 0;
            background: transparent;

            + .box-wrap {

                .h-item-wrap {
                    box-shadow: -5px 0 10px transparent;
                }

                + .box-wrap {

                    .h-item-wrap {
                        left: -50px;
                    }
                    
                    + .box-wrap {

                        .h-item-wrap {
                            left: -100px;
                        }

                        + .box-wrap {

                            .h-item-wrap {
                                left: -150px;
                            }

                            + .box-wrap {

                                .h-item-wrap {
                                    left: -200px;
                                }

                                + .box-wrap {

                                    .h-item-wrap {
                                        left: -250px;
                                    }
                                }
                            }
                        }
                    }
                    
                }
            }
        }

        .h-item-wrap {

            @include breakpoint(tablet2) {
                box-shadow: -5px 0 10px transparent;
                padding: 55px 20px 0 0;
                width: 100%;
                box-shadow: -5px 0 10px rgba(0,0,0,.16);
            }
           
        }

        .btn {
            opacity: 1;
            visibility: visible;
        }
        
        
    }

    @include breakpoint(tablet2) {
        width: 15vw;
        margin-right: 0;
        padding: 0;
        background: transparent;
        box-shadow: 3px 4px 10px transparent;


        .btn {
            opacity: 0;
            visibility: hidden
        }
    }
    
}

.h-item-wrap {
    height: 100%;
    position: absolute;
    width: 100%;
    padding: 0;
    top: 0;
    left: 0;
    background: transparent;

    @include breakpoint(tablet2) {
        padding: 0;
        box-shadow: -5px 0 10px rgba(0,0,0,.16);
        width: 250px;
        transition: all .4s ease;
        max-width: 100%;
    }
}

.h-item-flex {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100%;
}

.h-item {
    padding: 60px 0 60px 15px;
    background: #faa221;
    position: relative;
    width: 100%;

    &.h-drive {
        background: #414141 url(../../assets/images/h-services-bg.jpg) no-repeat 100% 100%;
        background-size: cover;
    }

    &.h-services {
        background: url('../../assets/images/h-services-bg.jpg') no-repeat bottom right;
        background-size: cover;

            h3 {
                @include font-sizing(150,1);
            }
    }

    &.h-product {
        background: url('../../assets/images/h-product-bg.jpg') no-repeat bottom right;
        background-size: cover;
    }
}

.h-item-content {
    max-width: 640px;
}



ul {
	margin: 0;
	li {
		margin: 0.5em 0;
	}
}

h5 {
	@include font-sizing(25,10);
}

.btn {
	position: absolute;
	right: 0;
	bottom: 15px;

    @include breakpoint(tablet2) {
        bottom: 130px;
    }
}

#scroller {
    position: absolute;
    z-index: 1;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    width: calc(595vw + 150px);
    height: 100%;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-text-size-adjust: none;
    -moz-text-size-adjust: none;
    -ms-text-size-adjust: none;
    -o-text-size-adjust: none;
    text-size-adjust: none;
    touch-action: manipulation;

    @include breakpoint(tablet2) {
        width: 192vw;
    }
}
